In [1]:
import numpy as np
import pandas as pd

In [23]:
aa = pd.read_csv('/Users/mahui/CloudStation/Python Code/temp/a.csv',encoding='gbk')

In [24]:
aa.head()

           编号     年月日   年  月份  日期   航班号 起飞机场 落地机场    耗油     业载       周转量
0  1601011031  160101  16   1   1  1031  DLC  WNZ  5534   7134  10437042
1  1601011031  160101  16   1   1  1031  WNZ  SYX  7031   6075  10455075
2  1601011031  160101  16   1   1  1031  DLC  SYX     0   7152  22771968
3  1601011107  160101  16   1   1  1107  PVG  FOC  3992  11565   9552690
4  1601011108  160101  16   1   1  1108  FOC  PVG  3175   8370   6419790

In [25]:
index_nb = np.random.randint(1,319,size=([10,1]))
bb = aa.copy()

In [26]:
for idx,row in aa.iterrows():
    if idx not in index_nb:
        bb = bb.drop(idx)

In [27]:
bb

             编号     年月日   年  月份  日期   航班号 起飞机场 落地机场    耗油     业载       周转量
26   1601011387  160101  16   1   1  1387  PVG  NGO  国际航班   国际航班      国际航班
59   1603081173  160308  16   3   8  1173  PVG  DOY  4589  11385  11760705
104  1605051026  160505  16   5   5  1026  MIG  SHA  6486  12267  21970197
126  1606101111  160610  16   6  10  1111  SHA  SZX  6124  15040  21973440
162  1607061157  160706  16   7   6  1157  SHA  ZUH  6032  13605  21060540
210  1608151357  160815  16   8  15  1357  SHE  PVG  5906  13222  19780112
233  1609071654  160907  16   9   7  1654  TAO  NKG  3201  13275   8057925
277  1611291193  161129  16  11  29  1193  SHA  XMN  4536  13110  12572490
298  1612211163  161221  16  12  21  1163  PVG  DLC  4309  15240  16901160
304  1612211189  161221  16  12  21  1189  PVG  CGQ  5625  15940  28341320

In [30]:
bb.to_csv('cc.csv',encoding='gbk')

In [3]:
0.99**100

0.3660323412732292